<div class="row">
    <div class="col-lg-6"></div> 
    <div class="col-lg-6">
        <button class="btn btn-sm btn-primary text-white pull-right mr-sm-2 mt-3 mb-3" (click)="exportData('export.pdf')">Export Pdf</button>
        <button class="btn btn-sm btn-success text-white pull-right mr-sm-2 mt-3 mb-3" (click)="exportData('export.csv')">Export CSV</button>
        <button class="btn btn-sm btn-info text-white pull-right mr-sm-2 mt-3 mb-3" (click)="exportData('export.xls')">Export XLS</button>
    </div>
</div>