<div [@routerTransition]>
    <div class="page page-core page-login">
        <div class="text-center"><h3 class="text-light text-white"><span class="text-lightred">Tracom Lab</span>  Automation</h3></div>
        <div class="container w-420 p-15 bg-white mt-40 text-center" id="verify-form">
            <h2 class="text-light text-greensea">Verify OTP</h2>
            <p class="text-light text-center text-greensea">Enter the 6 digit code that has been sent to you via email</p>
            <form class="form" (ngSubmit)="verifyOtp(otpForm)" #otpForm="ngForm" role="form" class="form-validation mt-20" novalidate="">
                <div class="form-group">
                    <input type="password" class="form-control underline-input"  [(ngModel)]="model.otp" name="otp" required="required" placeholder="OTP Code"/>
                </div>
                <div class="form-group text-left mt-20">
                    <button  [disabled]="!otpForm.form.valid" type="submit" class="btn btn-greensea b-0 br-2 mr-5">Verify Code</button>
                    <button  (click)="resendOtp()" type="button" class="btn btn-greensea b-0 br-2 mr-5 pull-right">Resend OTP Code</button>
                </div>
                <div class="form-group text-left mt-20">
                    <!--<a (click)="resendOtp()" class="pull-left mt-10 pointer cursor-pointer">Resend OTP Code</a>-->
                    <a routerLink="/login" class="pull-right mt-10">Back to Login?</a>
                </div>
            </form>
            <hr class="b-3x">                
            <div class="bg-slategray lt wrap-reset mt-40" id="footer">
                <p class="text-white text-center m0">&copy; 2018 Powered by Tracom Services Limited</p>
            </div>
        </div>
    </div>
</div>  