<div [@routerTransition]>
    <div class="page page-dashboard">
        <app-page-header [heading]="'Approve Schedule'" [icon]="'fa-check-square'"></app-page-header>
        <section class="tile">
            <div class="tile-body">
                <app-checker-actions [endpoint]="'schedule'"></app-checker-actions>
                <table datatable [dtOptions]="dtOptions" class="row-border hover">
                       <thead>
                        <tr>
                            <th class="select-checkbox" style="text-align :center"><input type="checkbox" class="select-all-checkbox border-#{000000}" /></th>
                            <th>Schedule Time</th>
                            <th>No of Files</th>
                            <th>Business Unit</th>
                            <th>Schedule Type</th>
                            <th>Action</th>
                            <th>Action Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </section>
    </div>
</div>