<div [@routerTransition]>    
        <div class="page page-dashboard">
            <app-page-header [heading]="' First Quarter Parts'" [icon]="'fa-check-square'"></app-page-header>
            <section class="tile">
                <div class="tile-body"> 
                                                                                 
                              <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover"></table>
                            </div>
                        </section>
                    </div>
                  </div>  
                  