<!-- <div [@routerTransition]>
    <div class="page page-dashboard">
        <app-page-header [heading]="'Device Details'" [icon]="'fa-edit'"></app-page-header>
        <section class="tile">
            <div class="tile-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title custom-font"><strong>Core </strong>Data
                                </h3>
                            </div>
                            <div class="panel-body">
                                <app-viewentity [viewparam]="viewparam"></app-viewentity>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title custom-font"><strong>Whitelist </strong>Details
                                </h3>
                            </div>
                            <div class="panel-body">
                                <app-viewentity [viewparam]="whiteListparam"></app-viewentity>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title custom-font"><strong>Estates </strong>Details
                                </h3>
                            </div>
                            <div class="panel-body">
                                <app-viewentity [viewparam]="estateParam"></app-viewentity>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title custom-font"><strong>Merchant </strong>Details
                                </h3>
                            </div>
                            <div class="panel-body">
                                <app-viewentity [viewparam]="merchantParam"></app-viewentity>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                        <button class="btn btn-primary btn-ef btn-ef-3 btn-ef-3c mb-10 mr-20 pull-right" (click)="updateCustomerParameters('editdevice')">Edit Customer Parameters<i class="fa fa-edit"></i></button>
                        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10 mr-20 pull-right" (click)="updateD('editdevice')">Edit Device<i class="fa fa-edit"></i></button>

                    </div>
                </div> -->
                <!-- <div class="row mt-3">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">Transaction Records</div>
                            <div class="card-body">
                                <mat-tab-group class="demo-tab-group">
                                    <mat-tab label="Tasks">
                                        <div class="demo-tab-content">
                                            <div class="row">
                                                <div class="col-lg-6"></div>
                                                <div class="col-lg-6">
                                                    <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10 mr-20 pull-right" (click)="addNewTask($content)" >Add New Tasks<i class="fa fa-plus"></i></button>
                                                    <button class="btn btn-danger btn-ef btn-ef-3 btn-ef-3c mb-10 mr-10 pull-right" (click)="openConfirm()">Cancel Tasks<i class="fa fa-remove"></i></button>
                                                </div>
                                            </div>
                                            <div class='row'>
                                                <app-device-tasks [deviceId]="deviceId"></app-device-tasks>
                                            </div>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="Update Logs">
                                        <div class="demo-tab-content">
                                            <app-device-update-logs [deviceId]="deviceId"></app-device-update-logs>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="Heartbeats">
                                        <div class="demo-tab-content">
                                            <app-device-heartbeats-stats [deviceId]="deviceId"></app-device-heartbeats-stats>
                                        </div>
                                    </mat-tab>
                                    <mat-tab label="FTP Logs">
                                        <div class="demo-tab-content">
                                            <app-device-ftp-logs [deviceId]="deviceId"></app-device-ftp-logs>
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                        </div>
                    </div>
                </div> -->
            <!-- </div>
        </section>
    </div>
</div> -->
