<div [@routerTransition]>
  <div class="page page-core page-login">
    <div class="text-center">
      <h3 class="text-light text-white"><span class="text-lightred">Tracom Lab</span> Automation</h3>
    </div>
    <div class="container w-420 p-15 bg-white mt-40 text-center">
      <h2 class="text-light text-greensea">Input Captcha</h2>
      <form [formGroup]="captchaForm" (ngSubmit)="onSubmit()" class="form-validation mt-20">      
        <div class="row mt-5">
          <div class="col-md-9 mx-auto">              
              <div class="card mt-3">
                  <div class="card-body">
                      <div #recaptcha ></div>
                  </div>
              </div>
          </div>
        </div>
        <br>
        <div class="form-group col-md-9">
        <input type="submit" class="btn btn-primary" value="Proceed" style="width: 100">
        </div>

        <!-- <div class="form-group text-left mt-20">
          <button type="submit" class="btn btn-greensea b-0 br-2 mr-5" disabled>Proceed</button>
        </div> -->
        <div class="form-group text-left mt-20">
          <a routerLink="/login" class="pull-right mt-10">Back to Login?</a>
        </div>
      </form>
      <hr class="b-3x">
      <div class="bg-slategray lt wrap-reset mt-40" id="footer">
        <p class="text-white text-center m0">&copy; 2018 Powered by Tracom Services Limited</p>
      </div>
    </div>
  </div>
</div>