<div widget class="card" style="margin-bottom: 10px;">
    <div class="card-header" style="background-color: #D3D3D3; color: #344154;">

    </div>
    <div class="card-body widget-body">
        <div class="row">
            <!-- "ADD_ROLES", "ONBOARD_AGENT" -->
<!--            <div class="col-md-4">-->
<!--                <a class="info-tiles tiles-info"href="#/agency-webportal/dashboard">-->
<!--                    <div class="tiles-heading"></div>-->
<!--                    <div class="tiles-body-alt">-->
<!--                        <i class="fa fa-money"></i>-->
<!--                        <div class="text-center">Webportal</div>-->
<!--                        <small></small>-->
<!--                    </div>-->
<!--                    <div class="tiles-footer">Management of agents</div>-->
<!--                </a>-->
<!--            </div>-->

            <div class="col-sm-6 col-lg-3">
                <div class="overview-item overview-item--c1">
                    <div class="overview__inner">
                        <div class="overview-box clearfix">
                            <div class="icon">
                                <i class="zmdi zmdi-account-o"></i>
                            </div>
                            <div class="text">
                                <h2>10368</h2>
                                <span>members online</span>
                            </div>
                        </div>
                        <div class="overview-chart">
                            <canvas id="widgetChart1"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <a class="info-tiles tiles-success" href="#/pages/today-success-transactions">
                    <div class="tiles-heading"></div>
                    <div class="tiles-body-alt">
                        <i class="fa fa-money"></i>
                        <div class="text-center">POSIRIS</div>
                        <small></small>
                    </div>
                    <div class="tiles-footer">Tracking and reporting POS Terminals performance </div>
                </a>
            </div>

            <div class="col-md-4">
                <a class="info-tiles tiles-danger" href="#/pages/today-failed-transactions">
                    <div class="tiles-heading"></div>
                    <div class="tiles-body-alt">
                        <i class="fa fa-money"></i>
                        <div class="text-center">Field Agent<span class="text-smallcaps"></span>
                        </div>
                        <small></small>
                    </div>
                    <div class="tiles-footer">Data collection and submission of tasks</div>
                </a>
            </div>

        </div>
    </div>

<div widget class="card" style="margin-bottom: 10px;">
    <div class="card-header" style="background-color: #D3D3D3; color: #344154;">
<!--        <span>Agents and Users</span>-->
    </div>
<!--    <div class="card-body widget-body">-->
<!--        <div class="row">-->
<!--            <div class="col-md-3">-->
<!--                <a class="info-tiles tiles-success" href="#/pages/agent-list">-->
<!--                    <div class="tiles-heading">Total Businesses</div>-->
<!--                    <div class="tiles-body-alt">-->
<!--                        <i class="fa fa-building"></i>-->
<!--&lt;!&ndash;                        <div class="text-center">{{topMiniDashboardCounts.business}}</div>&ndash;&gt;-->
<!--                        <small>No. of Total Businesses</small>-->
<!--                    </div>-->
<!--                    <div class="tiles-footer">View Total Businesses</div>-->
<!--                </a>-->
<!--            </div>-->

<!--            <div class="col-md-3">-->
<!--                <a class="info-tiles tiles-orange" href="#/pages/users-list">-->
<!--                    <div class="tiles-heading">Total Portal Users</div>-->
<!--                    <div class="tiles-body-alt">-->
<!--                        <i class="fa fa-user"></i>-->
<!--&lt;!&ndash;                        <div class="text-center">{{usersStats.totalPortalUsers}}</div>&ndash;&gt;-->
<!--                        <small>No. of Portal Users</small>-->
<!--                    </div>-->
<!--                    <div class="tiles-footer">View Portal Users</div>-->
<!--                </a>-->
<!--            </div>-->

<!--            <div class="col-md-3">-->
<!--                <a class="info-tiles tiles-info" href="#/pages/users-list">-->
<!--                    <div class="tiles-heading">Total Device Users</div>-->
<!--                    <div class="tiles-body-alt">-->
<!--                        <i class="fa fa-spinner"></i>-->
<!--&lt;!&ndash;                        <div class="text-center">{{usersStats.totalDeviceUsers}}<span class="text-smallcaps"></span>&ndash;&gt;-->

<!--                        <small>No. of Device Users</small>-->
<!--                    </div>-->
<!--                    <div class="tiles-footer">View Device Users</div>-->
<!--                </a>-->
<!--            </div>-->

<!--            <div class="col-md-3">-->
<!--                <a class="info-tiles tiles-danger" href="#/pages/users-list">-->
<!--                    <div class="tiles-heading">Total Users</div>-->
<!--                    <div class="tiles-body-alt">-->
<!--                        <i class="fa fa-users"></i>-->
<!--&lt;!&ndash;                        <div class="text-center">{{usersStats.totalUsers}}</div>&ndash;&gt;-->
<!--                        <small>Total Users</small>-->
<!--                    </div>-->
<!--                    <div class="tiles-footer">View Total Users</div>-->
<!--                </a>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->

<div widget class="card" style="margin-bottom: 10px;">
    <div class="card-header" style="background-color: #D3D3D3; color: #344154;">
<!--        <span>Bank Branches and Regions</span>-->
    </div>
    <div class="card-body widget-body">
        <div class="row">
            <div class="col-md-6">
                <a class="info-tiles tiles-orange" href="#/pages/bank-regions">
                    <div class="tiles-heading"></div>
                    <div class="tiles-body-alt">
                        <i class="fa fa-map-marker"></i>
                        <div class="text-center">TMS</div>
                        <small></small>
                    </div>
                    <div class="tiles-footer">Terminal Management System</div>
                </a>
            </div>
            <div class="col-md-6">
                <a class="info-tiles tiles-info"href="#/pages/bank-branches-list">
                    <div class="tiles-heading"></div>
                    <div class="tiles-body-alt">
                        <i class="fa fa-building"></i>
                        <div class="text-center">POSPARAM</div>
                        <small></small>
                    </div>
                    <div class="tiles-footer">Parameterization of POS Terminals</div>
                </a>
            </div>

        </div>
    </div>
</div>






