<div [@routerTransition]>
    <div class="page page-core page-login">
        <div class="text-center"><h3 class="text-light text-white"><span class="text-lightred">Tracom Lab </span>  Automation</h3></div>
        <div class="container w-420 p-15 bg-white mt-40 text-center" id="changePassword">
            <h2 class="text-light text-greensea">Change Password</h2>
            <form class="form" (ngSubmit)="changePass(changePassword)" #changePassword="ngForm" role="form" class="form-validation mt-20" novalidate="">
                <div class="form-group">
                    <input type="email" class="form-control underline-input" [(ngModel)]="model.email" name="email" required="required" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control underline-input" [(ngModel)]="model.oldPassword" name="oldPassword" required="required" placeholder="Current Password"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control underline-input" [(ngModel)]="model.newPassword" name="newPassword" required="required" placeholder="New Password"/>
                </div>
                <div class="form-group text-left mt-20">
                    <button [disabled]="!changePassword.form.valid" type="submit" class="btn btn-greensea b-0 br-2 mr-5">Change Password</button>                        
                    <a routerLink="/login" class="pull-right mt-10">Back to Login?</a>
                </div>
            </form>
            <hr class="b-3x">                
            <div class="bg-slategray lt wrap-reset mt-40" id="footer">
                    <p class="text-white text-center m0">&copy; {{currentYear}} Powered by <a href="http://tracom.co.ke/">Tracom Services Limited</a></p>
            </div>
        </div>
    </div>
</div> 

