<div [@routerTransition]>    
    <div class="page page-dashboard">
        <app-page-header [heading]="'Simcard Providers'" [icon]="'fa-edit'"></app-page-header> 
        <section class="tile">
            <div class="tile-body"> 
                <app-delete-component [addLabel]="'Add Provider'" [addLink]="'masterrecords/createtelcoms'" [approveLabel]="'Approve Provider'" [approveLink]="'masterrecords/approvetelcoms'" [deleteLabel]="'Delete Provider'" [endpoint]="'mno'"></app-delete-component>
                <table datatable [dtOptions]="dtOptions" class="row-border hover">
                       <thead>
                        <tr>
                            <th class="select-checkbox" style="text-align :center"><input type="checkbox" class="select-all-checkbox border-#{000000}" /></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Action</th>
                            <th>Action Status</th>
                            <th></th>
                        </tr>
                    </thead></table>
            </div>
        </section>
    </div>
</div>
