<div [@routerTransition]>
    <div class="page page-forms-wizard">
        <app-page-header [heading]="'View User'" [icon]="'fa-eye'"></app-page-header>
        <section class="tile">
                <button type="submit"  mat-raised-button color="primary" >
                        <a routerLink="javascript:void(0)" (click)="goBack()">Return </a>
                        <i class="fa fa-arrow-circle-left"></i>
                </button>
            <div class="tile-body">
                <app-viewentity [viewparam]="viewparam" [title]="'User Details View'" [subtitle]="model.fullName"></app-viewentity>
                <div class="clearfix"></div>
                <hr/>
                <h6>Audit Trails</h6>
                <hr/>
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Audit Trail Details</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <app-modal-view-entity [viewparam]="viewparams" [title]="'Audit Trail'"></app-modal-view-entity>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                    </div>
                </ng-template>
                <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>
            </div>
        </section>
    </div>
</div>
