<div [@routerTransition]>
    <div class="page page-forms-wizard">
        <app-page-header [heading]="'Device History'" [icon]="'fa-edit'"></app-page-header>
        <section class="tile">
            <div class="tile-body">
                <form (ngSubmit)="onQueryHistory(createHistory)" #createHistory="ngForm" role="form">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label>Device Serial Number: </label>
                            <input type="text" name="name" id="name" [(ngModel)]="model.serialNo" class="form-control"
                                   required>
                        </div>
                        <div class="form-group col-md-4 mt-20">
                            <button [disabled]="!createHistory.form.valid" type="submit" class="btn btn-primary">Search Device</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section class="tile" *ngIf="displayview">
            <div class="tile-body">
                <table id="list-device-table" datatable [dtOptions]="dtOptions" class="row-border hover"></table>
            </div>
        </section>
    </div>
</div>
