<div [@routerTransition]>    
    <div class="page page-dashboard">
        <app-page-header [heading]="'System Configuration'" [icon]="'fa-check-square'"></app-page-header>
        <section class="tile">  
                      
            <div class="tile-body">
                <mat-form-field class="col-lg-3 col-md-3 pull-right">
                    <mat-select [(value)]="filter" placeholder="Filter" (change) = "getFilter()">
                        <mat-option value="System Integration">System Integrations</mat-option>
                        <mat-option value="Password Policy">Password Complexity</mat-option>
                    </mat-select>
                </mat-form-field>
               
                <table id="list-configs-table" #makeTable datatable [dtOptions]="dtOptions" class="row-border hover">
                       <thead>
                        <tr>
                            <th></th>
                            <th>Parameter</th>
                            <th>Value</th>
                            <th>Description</th>
                            <th>Actions</th>
                            <!--<th>Action Status</th>-->
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <ng-template #content let-c="close" let-d="dismiss" id="content2">
                    <form (ngSubmit)="save(updateForm)" #updateForm="ngForm"  role="form">
                        <div class="modal-header">
                            <h4 class="modal-title">Update Configuration</h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <mat-form-field class="col-lg-12 col-md-12">
                                    <input matInput placeholder="Parameter" maxlength="100" name="parameter" id="parameter" readonly="" [(ngModel)]="config.parameter" />
                                </mat-form-field>

                                <mat-form-field class="col-lg-12 col-md-12">
                                    <input matInput placeholder="Value" [attr.type]="config.valueType" maxlength="100" name="value" id="value" [(ngModel)]="config.value" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                            <button type="submit" [disabled]="!updateForm.form.valid" class="btn btn-success">Update</button>
                        </div>
                    </form>
                </ng-template>
            </div>
        </section>
    </div>
</div>
