<div [@routerTransition]>
  <div class="page page-dashboard">
      <app-page-header [heading]="'Approve Received Orders'" [icon]="'fa-edit'"></app-page-header>
      <section class="tile">
          <div class="tile-body">
                  <button type="submit" class="btn btn-outline-primary btn-rounded waves-effect" >
                          <a routerLink="javascript:void(0)" (click)="goBack()">back </a>
                  </button>
              <app-checker-actions [endpoint]="'atlas/ordersReceivedd'"></app-checker-actions>
                                    <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover" style="width:100%">
                  <thead>
                  <tr>
                      <th class="select-checkbox" style="text-align :center"><input type="checkbox" class="select-all-checkbox border-#{000000}" /></th>                      
                      <th>PO Number</th>
                          <th>Part Numbe</th>
                          <th>Quantity Purchased</th>
                          <th>Quantity Received</th>
                          <th>Date Received</th>
                          <th>Balance</th>
                          <th>Created On</th>
                          <th>In Trash</th>
                          <th>Action Status</th>
                          <th>Action </th>
                  </tr>
              </thead>
              </table>
          </div>
      </section>
  </div>
</div>


