<div [@routerTransition]>
    <app-page-header [heading]="'Password Complexity'" [icon]="'fa-edit'"></app-page-header>
<!--    <form (ngSubmit)="save(passForm)" #passForm="ngForm" role="form">
        <mat-card>
            <mat-card-content>
                <div class="row">
                    <mat-form-field class="col-lg-6 col-md-6">
                        <mat-select [(value)]="makeId" placeholder="Make" (selectionChange) = "loadModels()">
                            <mat-option  *ngFor="let make of makes" [value]="make.makeId">{{make.make}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-lg-6 col-md-6">
                        <mat-select [(value)]="model.modelId" placeholder="Model">
                            <mat-option  *ngFor="let model of models" [value]="model.modelId">{{model.model}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-lg-6 col-md-6">
                        <mat-select [(value)]="model.productId" placeholder="Product">
                            <mat-option  *ngFor="let product of products" [value]="product.productId">{{product.productName}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-lg-6 col-md-6">
                        <input matInput placeholder="Application Name" maxlength="100" name="appName" id="appName" required="" [(ngModel)]="model.appName" #appName="ngModel" />
                    </mat-form-field>
                    
                    <mat-form-field class="col-lg-6 col-md-6">
                        <input matInput placeholder="appVersion" maxlength="50" name="appVersion" id="appVersion" required="" [(ngModel)]="model.appVersion" #appVersion="ngModel" />
                    </mat-form-field>
                    
                    <mat-form-field class="col-lg-6 col-md-6">
                        <input matInput placeholder="Description" maxlength="500" name="description" id="description" [(ngModel)]="model.description" #description="ngModel" />
                    </mat-form-field>
                    
                    <div class="col-lg-6 col-md-6">
                        <label>Application: </label>
                        <input [(ngModel)] = "_application" #application placeholder="Application" type="file" name="application" id="application" (change) = "fileSelected(application.files)" />
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <div class="panel-footer" style="margin-top: 10px;">
            <div class="btn-group pull-right">
                <button type="reset" class="btn btn-default">Reset</button> 
                <button [disabled]="!passForm.form.valid" type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </form>-->
</div>