                                                                                                                                                                                                                                                                                     <div [@routerTransition]>    
    <div class="page page-forms-wizard">
        <app-page-header [heading]="'Edit Role'" [icon]="'fa-edit'"></app-page-header>
        <section class="tile">
            <div class="tile-body">
                <form role="form" #rolesForm="ngForm" (submit)="updateRoles()">
                    <div class="row">
                        <div class="col-lg-6">
                            <mat-form-field class="form-group col-lg-12  pad-left-md">
                                <label>User Role Name:</label>
                                <input matInput [(ngModel)]="rolesWrapper.roleName"  name="roleName" required="required"/>
                            </mat-form-field>
                            <mat-form-field class="form-group col-lg-12  pad-left-md">
                                <label>Role Description:</label>
                                <textarea matInput rows="3" [(ngModel)]="rolesWrapper.description" name="description" required="required"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div  class="row">
                        <hr/>
                        <!-- <h4> Role Permissions</h4> -->
                        <hr/>
                    </div>
                    <div class="row" *ngFor="let entss of entities">
                        <div class="col-lg-12">
                            <div class="card mb-3">
                                <div class="card-header tile-header bg-slategray">{{entss.entityName}}</div>
                                <div class="card-body">
                                    <div class="row m-20">
                                        <div class="checkbox col-sm-4" *ngFor="let perm of entss.ufsEntityPermissionList">
                                            <input type="checkbox" value="{{perm.entityPermissionId}}" [(ngModel)]="perm.checked" [name]="perm.caption" />
                                            <label>{{perm.caption}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>          
                    <div  class="row">
                        <hr/>
                    </div>
                    <div class="clearfix">
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                        </div>
                        <div class="col-sm-4 pull-right">
                            <input type="submit" value="Submit" class="btn btn-success btn-lg float-left text-white">
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
