<!-- ===============================================
            ================= HEADER Content ===================
            ================================================ -->
<section id="header">
    <app-header></app-header>
</section>
<!--/ HEADER Content  -->





<!-- =================================================
================= CONTROLS Content ===================
================================================== -->
<div id="controls">
    <app-sidebar></app-sidebar>
</div>
<!--/ CONTROLS Content -->




<!-- ====================================================
================= CONTENT ===============================
===================================================== -->
<section id="content">
    <router-outlet></router-outlet>
</section>
