<div [@routerTransition]>    
    <div class="page page-dashboard">
        <app-page-header [heading]="'Device Type'" [icon]="'fa-check-square'"></app-page-header>
        <section class="tile">
            <div class="tile-header dvd dvd-btm">
                <app-maker-actions [dtOptions] = "dtOptions"   [addLink] = "'masterrecords/device-type'" [addLabel] = "'Add Device Type'" [approveLabel]="'Approve Device Type'" [approveLink]="'masterrecords/device-type/approve'"
                    [endpoint] = "'device/type'" [deleteLabel] = "'Delete Device Type'" [actionEndpoint] = "'masterrecords/device-type'"></app-maker-actions>
            </div>
            <div class="tile-body">  
                <table id="list-make-table" #makeTable datatable [dtOptions]="dtOptions" class="row-border hover">
                       <thead>
                        <tr>
                            <th class="select-checkbox" style="text-align :center"><input type="checkbox" class="select-all-checkbox border-#{000000}" /></th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Action</th>
                            <th>Action Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
