<div [@routerTransition]>
    <div class="page page-dashboard">
        <app-page-header [heading]="'Allocate Devices'" [icon]="'fa-edit'"></app-page-header>
        <section class="tile">
            <div class="tile-body">
                <app-allocate-devices [endpoint]="'atlas/repair'"></app-allocate-devices>
                <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover" style="width:100%">
                    <thead>
                    <tr>
                        <th class="select-checkbox" style="text-align :center"><input type="checkbox" class="select-all-checkbox border-#{000000}" /></th>
                        <th>Batch</th>
                        <th>Serial Number</th>
                        <th>Part Number</th>
                        <th>IMEI</th>
                        <th>Client</th>
                        <th>Repair Centre</th>
                        <th>Device Errors</th>
                        <th>Level</th>
                        <th>Parts</th>
                        <th>Technician</th>
                        <th>Received Date</th>
                        <th>Action Status</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </section>
    </div>
</div>
