<div [@routerTransition]>
        <div class="page page-core page-login">
            <div class="text-center"><h3 class="text-light text-white"><span class="text-lightred">Terminal</span>  Management System</h3></div>
            <div class="container w-420 p-15 bg-white mt-40 text-center">
                <h2 class="text-light text-greensea">Reset your Password</h2>
                <form class="form" (ngSubmit)="resetPass()" role="form"[formGroup]="upload"  class="form-validation mt-20" novalidate="">
                    <div class="form-group">
                        <input type="email" class="form-control underline-input" class="form-control" formControlName="email" name="email" required="required" placeholder="Email">
                    </div>
                    <div class="form-group text-left mt-20">
                        <button [disabled]="!upload.valid" type="submit" class="btn btn-greensea b-0 br-2 mr-5">Reset Password</button>                        
                        <a routerLink="/login" class="pull-right mt-10">Back to Login?</a>
                    </div>
                </form>
                <hr class="b-3x">                
                <div class="bg-slategray lt wrap-reset mt-40">
                        <p class="text-white text-center m0">&copy; {{currentYear}} Powered by <a href="http://tracom.co.ke/">Tracom Services Limited</a></p>
                </div>
            </div>
        </div>
    </div>  