<div [@routerTransition]>
    <div class="page page-forms-wizard">  
        <app-page-header [heading]="'Approve Users'" [icon]="'fa-edit'"></app-page-header>
        <section class="tile">
                <button type="submit"  mat-raised-button color="primary" >
                        <a routerLink="javascript:void(0)" (click)="goBack()">Return </a>
                        <i class="fa fa-arrow-circle-left"></i>
                </button>
            <div class="tile-body">
                <app-checker-actions [endpoint]="'ufs-common-modules/api/v1/user'"></app-checker-actions>
                <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover">
                       <thead>
                        <tr>
                            <th class="select-checkbox" style="text-align :center"><input type="checkbox" class="select-all-checkbox border-#{000000}" /></th>
                            <th>Full Names</th>
                            <th>Email Address</th>
                            <th>Phone Number</th>
                            <th>Gender</th>
                            <th>UserType</th>
                            <th>Created</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
