<div [@routerTransition]>   
    <div class="page page-dashboard">
        <app-page-header [heading]="'Approve Device Type'" [icon]="'fa-check-square'"></app-page-header>
        <section class="tile">
            <app-checker-actions [endpoint] = "'device/type'"></app-checker-actions>
            <div class="tile-body">
                <table id="checker-table" datatable [dtOptions]="dtOptions" class="row-border hover">
                       <thead>
                        <tr>
                            <th class="select-checkbox" style="text-align :center"><input type="checkbox" class="select-all-checkbox border-#{000000}" /></th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Action</th>
                            <th>Action Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
