<!-- <h2>Edit Customer Information</h2>
<form name="step1" role="form" novalidate [formGroup]="myForm"
      (ngSubmit)="saveDeviceCustomer(myForm)" style="z-index: 10000;">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="merchantId"
                               class="col-sm-3 control-label">Merchant Reference : </label>
                        <div class="col-sm-7">
                            <input type="tel" class="form-control"
                                   formControlName="merchantReference" name="merchantReference"
                                   [(ngModel)]="deviceCustomer.merchantReference"
                                   id="merchantId" placeholder="Merchant Reference"
                                   required>
                        </div>
                        <button type="button" class="btn btn-default col-sm-2" (click)="searchMerchant()"><i
                            class="fa fa-search"></i> Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"> -->
        <!-- col -->
        <!-- <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title custom-font"><strong>Merchant </strong>Details
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row mb-10">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="merchantName"
                                       class="col-sm-4 control-label">Merchant Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control"
                                           id="merchantName"
                                           formControlName="merchantName"
                                           name="merchantName"
                                           [(ngModel)]="deviceCustomer.merchantName"
                                           placeholder="Merchant Name" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row  mb-10">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="outletNumber"
                                       class="col-sm-4 control-label">Outlet Number</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control"
                                           id="outletNumber"
                                           formControlName="outletNumber"
                                           name="outletNumber"
                                           [(ngModel)]="deviceCustomer.outletNumber"
                                           placeholder="Outlet Number">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-10">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="address"
                                       class="col-sm-4 control-label">Address</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="address"
                                           formControlName="address" name="address"
                                           [(ngModel)]="deviceCustomer.address"
                                           placeholder="Address">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-10">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="location"
                                       class="col-sm-4 control-label">Location</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="location"
                                           formControlName="location" name="location"
                                           [(ngModel)]="deviceCustomer.location"
                                           placeholder="Location">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-10">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="phone"
                                       class="col-sm-4 control-label">Phone</label>
                                <div class="col-sm-8">
                                    <input type="tel" class="form-control"
                                           formControlName="phone" name="phone"
                                           [(ngModel)]="deviceCustomer.phone"
                                           id="phone" placeholder="Phone">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title custom-font"><strong>Configuration </strong>Details
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row mb-10">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Postilion</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"
                                           formControlName="postilionIp"
                                           name="postilionIp"
                                           [(ngModel)]="deviceCustomer.postilionIp"
                                           placeholder="Postilion IP">
                                </div>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control"
                                           formControlName="postilionPort"
                                           name="postilionPort"
                                           [(ngModel)]="deviceCustomer.postilionPort"
                                           placeholder="Postilion port" max="6">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-10">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tms Server</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"
                                           formControlName="tmsServerIp"
                                           name="tmsServerIp"
                                           [(ngModel)]="deviceCustomer.tmsServerIp"
                                           placeholder="Tms Server IP" required>
                                </div>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control"
                                           formControlName="tmsServerPort"
                                           name="tmsServerPort"
                                           [(ngModel)]="deviceCustomer.tmsServerPort"
                                           placeholder="Tms Server port" max="6" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-10">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tync</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"
                                           formControlName="tsyncIp" name="tsyncIp"
                                           [(ngModel)]="deviceCustomer.tsyncIp"
                                           placeholder="Tync IP">
                                </div>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control"
                                           formControlName="tsyncPort"
                                           name="tsyncPort"
                                           [(ngModel)]="deviceCustomer.tsyncPort"
                                           placeholder="Tync port" maxlength="6">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row"> -->
        <!-- col -->
        <!-- <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title custom-font"><strong>Terminal </strong>Details
                    </h3>
                </div>
                <div class="panel-body">
                    <div formArrayName="multicurrency">
                        <div *ngFor="let currency of myForm.controls.multicurrency.controls; let i=index">
                            <div [formGroupName]="i">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Merchant
                                                ID {{i+1}}</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"
                                                       formControlName="merchantId"
                                                       placeholder="Merchant ID {{i+1}}"
                                                       required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Terminal
                                                ID {{i+1}}</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control"
                                                       formControlName="terminalId"
                                                       placeholder="Terminal ID {{i+1}}"
                                                       required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label
                                                class="col-sm-4 control-label">Currency
                                                {{i+1}}</label>
                                            <div class="col-sm-8">
                                                <select name="currency"
                                                        placeholder="Select Currency"
                                                        formControlName="currencyId"
                                                        [(ngModel)]="currency.currencyId"
                                                        class="form-control" required>
                                                    <option
                                                        *ngFor="let currency of currencies"
                                                        [value]="currency.currencyId">
                                                        {{currency.currencyName}}
                                                    </option>
                                                </select>
                                            </div> -->
                                            <!--<div class="col-sm-2">
                                                <button class="btn btn-primary"
                                                        type="button"
                                                        *ngIf="i == 0"
                                                        (click)="addMultiCurrency()">
                                                    <i class="fa fa-plus-circle"
                                                       style="cursor: default"></i>
                                                </button>
                                                <button class="btn btn-danger" type="button"
                                                        *ngIf="i > 0"
                                                        (click)="removeMultiCurrency()">
                                                    <i class="fa fa-remove"
                                                       style="cursor: default"></i>
                                                </button>
                                            </div>-->

                                        <!-- </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Admin
                                    Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control"
                                           formControlName="adminPassword"
                                           [(ngModel)]="deviceCustomer.adminPassword"
                                           placeholder="Admin Password" minlength="4"
                                           name="adminPassword"
                                           maxlength="6">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Merchant
                                    Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control"
                                           formControlName="merchantPassword"
                                           name="merchantPassword"
                                           [(ngModel)]="deviceCustomer.merchantPassword"
                                           placeholder="Merchant Password" minlength="4"
                                           maxlength="6">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Receipt
                                    Profile</label>
                                <div class="col-sm-10">
                                                                <textarea class="form-control" rows="3"
                                                                          formControlName="receiptProfile"
                                                                          name="receiptProfile"
                                                                          [(ngModel)]="deviceCustomer.receiptProfile"
                                                                          style="border-color: #008080;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Transaction
                                    Counter</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control"
                                           formControlName="transactionCounter"
                                           name="transactionCounter"
                                           [(ngModel)]="deviceCustomer.transactionCounter"
                                           placeholder="Transaction Counter">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <button [disabled]="!myForm.valid" type="submit"
                            class="btn btn-success  pull-right mb-3  btn-round">Save
                        Customer
                    </button>
                    <button type="button"
                            class="btn btn-default  pull-right mb-3  btn-round mr-20" mat-dialog-close>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</form> -->
